.btn--primary {
  color: var(--color-secondary);
}
.btn--operator {
  color: var(--color-blue);
}

.keypad__row {
  height: 11vh; 
  width: 100%;
  display: flex; 
  color: white;
  border: .2px solid var(--color-primary-transparent)
}

.keypad {
  height: 55vh;
  width: 100%;
}


.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: var(--color-white);
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  cursor: pointer;
}
.btn:hover {
  color: var(--color-light-white);
  background-color: var(--color-secondary);
}
.btn:active {
  transform: scale(.95);
}

.btn--large {
  width: 50%;
  color: var(--color-blue);
  background-color: var(--color-primary);
  transition: all .2s;
}
.btn--large:hover {
  background-color: var(--color-light-white);
  color: var(--color-black);
}